body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: white;
    height: 100px;
}

.inner {
    background-color: #7E247E;
    color: #FFF;
    text-align: center;
}

menu {
    margin-top: 180px;
    background-color: #7E247E;
}

.menu1 li a:link {
    text-decoration: none;
    color: #FFF;
    font-size: 20pt;
    margin-left: 100px;
}
.menu1 li a:visited {
    text-decoration: none;
    color: #FFF;
    font-size: 20pt;
    margin-left: 100px;
}

.menu1 li a:hover {
    text-decoration: none;
    color: #FFF;
    font-size: 20pt;
    margin-left: 100px;
}
main {
    height: auto;
    min-height: 650px;
}
.inner_main {


    
}
footer {
    height: 50px;
    color:#FFF;
    background-color: #7E247E;
}

.example-parent {
    border: 2px solid #221a05;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    min-height:600px
  }
.m_parent {
display.flex;
flex-direction: column;
flex-basis: 100%;
    flex-grow: 1;
    }


.example-origin {
    border: 2px solid #221a05;
    min-height:300px;
    padding: 10px;
  }



  .example-draggable {
    border: 1px solid #221a05;
    background-color: #FFF;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px;
    font-size: 10pt;
  }

  .example-dropzone {
    border: 2px solid #221a05;
    background-color: #FFF;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;

  }
