{% extends  "base.html" %}

{% block content %}
<h1>{{ title }}</h1>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <a href="{{ url_for('languages', type='english', grade=5) }}">Английский язык</a>
        <a href="{{ url_for('languages', type='secondlang', grade=5) }}">Вторые языки</a>
    </div>
    <div class="col-8">
        {% for i in range(5,12) %}
        <a href="{{ url_for('languages', type=type, grade=i) }}">{{i}} класс </a>
        {% endfor %}
    </div>
    <div class="col-2"></div>
</div>

<div class="row l1">
    <div class="col-2"></div>
    <div class="col-8">
        <h3>{{ grade_title }}</h3>
        <form name="languages">
            <ol>
                {% for teacher in teachers %}
                <li>{{ teacher }}</li>
                {% endfor %}

            </ol>
        <div class="row">
            {% for gr in pupils %}
            <div class="col-2">
                <p>{{ groups_names[gr] }}</p>
                <select name="group_{{gr}}" size="{% if pupils[gr]|length < 10 %} {{ 10 }} {% else %} {{ pupils[gr]|length }} {% endif %}">
                    {% for pupil in pupils[gr] %}
                    <option value="{{ pupil[0] }}">{{ pupil[1] }}</option>
                    {% endfor %}
                </select>
            </div>

            {% endfor %}
            </div>
            <p><input type="submit" text="Сохранить"></p>
        </form>
    </div>
    <div class="col-2"></div>
</div>


{% endblock %}